{% extends 'layouts/author.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard:dashboard' %}">
            <i class="fas fa-home"></i> Dashboard
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'presenters:list' %}">
            Presenters
        </a>
    </li>
    <li class="breadcrumb-item active">Delete</li>
</ol>
{% endblock breadcrumb %}

{% block content %}

<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">Delete Presenter</h4>
                <h6 class="card-subtitle">
                    Presenters are your Webinar Panelists that can be attached to a Weblet. Make them famous...
                </h6>

                <form action="" method="post" class="mt-5">
                    {% csrf_token %}
                    <h5>Are you sure you want to delete {{ object.full_name }} ?</h5>
                    <small>
                        <i class="fas fa-user"></i> {{ object.created_by.email }}
                        <i class="fas fa-calendar-alt ml-3"></i> {{ object.created_on }}
                    </small>
                    <div class="my-4">
                        <a href="{% url 'presenters:list' %}" class="btn btn-sm btn-secondary">Cancel</a>
                        <button type="submit" class="btn btn-sm btn-primary">Confirm</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}