{% extends 'layouts/admin.html' %}

{% block content %}

<div class="row page-title">
    <div class="col-md-5 align-self-center">
        <h4>Presenters</h4>
    </div>
    <div class="col-md-7 align-self-center text-right">
        <div class="d-flex justify-content-end align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="dashboard:dashboard">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="breadcrumb-item active">Presenters</li>
            </ol>
            <a href="" class="btn btn-outline-secondary btn-sm ml-3">
                <i class="fa fa-plus-circle"></i> Create New
            </a>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <h4>Presenters DETAIL View</h4>
    </div>
</div>



{% endblock %}