{% extends 'layouts/author.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard:dashboard' %}">
            <i class="fas fa-home"></i> Dashboard
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'presenters:list' %}">
            Presenters
        </a>
    </li>
    <li class="breadcrumb-item active">Detail</li>
</ol>
{% endblock breadcrumb %}

{% block content %}

<div class="row mb-3">
    <div class="col">
        <h4>Presenters DETAIL View</h4>
    </div>
</div>


{% endblock %}