{% extends 'layouts/author.html' %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard:dashboard' %}">
            <i class="fas fa-home"></i> Dashboard
        </a>
    </li>
    <li class="breadcrumb-item active">Watchers</li>
</ol>
{% endblock breadcrumb %}

{% block content %}

<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <div style="width:80%">
                        <h4 class="card-title">Showing all Watchers</h4>
                        <h6 class="card-subtitle">
                            Watchers are audience or viewers of your Webinar. LivingWebinar will track who is watching
                            and provide you detail inisights about your audience
                        </h6>
                    </div>
                    <div>
                        <div class="form-group">
                            <select class="form-control form-control-sm rounded-0">
                                <option>Most Popular</option>
                                <option>Some other</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="table-responsive mt-4">
                    <table class="table table-bordered table-hover text-center">
                        <thead class="bg-theme-secondary text-white">
                        <tr>
                            <th>#</th>
                            <th>Weblet</th>
                            <th>User</th>
                            <th>Source</th>
                            <th>Created</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                        <tr>
                            <td>{{ page_obj.start_index|add:forloop.counter0 }}</td>
                            <td class="text-left">
                                <img alt="" class="img-thumbnail p-0" src="{{ object.weblet.picture_thumbnail.url }}"
                                     width="35">
                                {{ object.weblet.title }}
                            </td>
                            <td>
                                {% if object.user %}
                                {{ object.user }}
                                {% else %}
                                <span class="text-muted">Anonymous</span>
                                {% endif %}
                            </td>
                            <td>{{ object.source }}</td>
                            <td>{{ object.created_on }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    {% if is_paginated %}
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Previous</a>
                        </li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                        <li class="page-item active">
                            <!--<span>{{ i }} <span class="sr-only">(current)</span></span>-->
                            <a href="" class="page-link">{{ i }}</a>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a href="?page={{ i }}" class="page-link">{{ i }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}