#lw-portals-container {
   width: 90%;
   margin: auto;
   padding-left: 5%;
   padding-right: 5%;
}
#lw-portals-container .lw-card {
   width: 22%;
   margin: 1%;
   float: left;
   font-family: sans-serif;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   transition: 0.3s;
   background-color: white;
}
#lw-portals-container .lw-card img {
   width: 100%;
   height: 150px;
}
#lw-portals-container .lw-card .card-body {
   padding: 1.25rem;
}
#lw-portals-container .lw-card .title {
   font-size: 16px;
   font-family: inherit;
   margin-bottom: 1rem;
}
#lw-portals-container .lw-card .meta span {
   font-size: 12px;
   display: block;
}
