{% extends 'layouts/author.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block substyle %}
<link rel="stylesheet" href="{% static 'plugins/dropify/css/dropify.min.css' %}">
<style>
    .dropify-wrapper {
        font-size: 13px;
        font-family: 'Poppins', sans-serif;
    }

</style>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{% url 'dashboard:dashboard' %}">
            <i class="fas fa-home"></i> Dashboard
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{% url 'weblets:list' %}">
            Weblets
        </a>
    </li>
    <li class="breadcrumb-item active">{{ title }}</li>
</ol>
{% endblock breadcrumb %}

{% block content %}


<div class="row mb-3">
    <div class="col">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="card-title">{{ title }} Weblet</h4>
                <h6>
                    Weblets are widgets that will be available for your audience on your own website or
                    LivingWebinar.Com
                </h6>
                <form action="" class="mt-4" method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="form-group col-md-4 mb-0">
                            {{ form.title|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-5 mb-0">
                            {{ form.webinar_recording_link|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-3 mb-0">
                            {{ form.status|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.tags|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.description|as_crispy_field }}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="id_picture_thumbnail" class="col-form-label">
                                Picture Thumbnail
                            </label>
                            <input type="file" name="picture_thumbnail" id="id_picture_thumbnail"
                                   class="dropify" accept=".jpg, .png, image/jpeg, image/png">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="id_picture_large" class="col-form-label">
                                Picture Large
                            </label>
                            <input type="file" name="picture_large" id="id_picture_large"
                                   class="dropify" accept=".jpg, .png, image/jpeg, image/png">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12 mb-0">
                            {{ form.publish_on_lw_website|as_crispy_field }}
                        </div>
                        <div class="form-group col-md-12">
                            {{ form.watcher_signup_required|as_crispy_field }}
                        </div>
                    </div>
                    <a href="{% url 'weblets:list' %}" class="btn btn-sm btn-secondary">Cancel</a>
                    <button type="submit" class="btn btn-sm btn-primary">{{title}}</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}


{% block subscript %}
<script src="{% static 'plugins/dropify/js/dropify.min.js' %}"></script>
<script>

$('#id_picture_thumbnail').dropify();
$('#id_picture_large').dropify();


</script>
{% endblock %}