{% extends 'layouts/author.html' %}

{% block substyle %}
<style>
    .card {
        cursor: pointer;
    }



</style>
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li class="breadcrumb-item active"><i class="fas fa-home"></i> Dashboard</li>
</ol>
{% endblock breadcrumb %}


{% block content %}

<div class="row mb-4">
    <div class="col">
        <div id="widgetsTile" class="card-deck">
            <div class="card shadow-sm" data-name="weblets">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <i class="fas fa-play-circle fa-3x text-theme-primary"></i>
                        <div class="text-right text-secondary">
                            <h6>Weblets</h6>
                            <h4>{{ weblets_count }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm" data-name="presenters">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <i class="fa fa-laptop fa-3x text-theme-primary"></i>
                        <div class="text-right text-secondary">
                            <h6>Presenters</h6>
                            <h4>{{ presenters_count }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm" data-name="watchers">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <i class="fas fa-users fa-3x text-theme-primary"></i>
                        <div class="text-right text-secondary">
                            <h6>Watchers</h6>
                            <h4>{{ watchers_count }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm" data-name="portals">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <i class="fas fa-globe fa-3x text-theme-primary"></i>
                        <div class="text-right text-secondary">
                            <h6>Portals</h6>
                            <h4>{{ portals_count }}</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-sm" data-name="settings">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <i class="fas fa-user-edit fa-3x text-theme-primary"></i>
                        <div class="text-right text-secondary">
                            <h6>Authors</h6>
                            <h4>{{ authors_count }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block subscript %}
<script>
    $('#widgetsTile .card').click(function() {
        window.location.href = window.location.origin + '/' + $(this).attr('data-name');
    });



</script>
{% endblock %}