{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/public.css' %}">
{% endblock %}

{% block body %}

{% include 'partials/navbar.html' %}

<div class="jumbotron">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="display-4 text-white text-center mb-2">
                    Webinar gets a life of it's own
                </div>
                <p class="text-center mb-5" style="color: #ccc; font-size: medium">Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit. A, cupiditate delectus
                    error, eum expedita
                    fugit illum ipsa ipsam iusto nam nisi odit quasi quidem quod quos, sint sunt tempora temporibus?</p>
                <div>
                    <div class="input-group">
                        <input type="text" class="form-control rounded-0"
                               placeholder="Search for keywords like Cybersecurity, IoT, Sunil Madan">
                        <div class="input-group-append">
                            <button class="btn btn-primary rounded-0">
                                <i class="fas fa-search"></i> Search
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for object in object_list %}
        <div class="col-md-6 col-lg-3">
            <div id="{{object.slug}}" data-login-required="{{object.watcher_signup_required}}"
                 class="card mb-3 shadow-lg animated zoomIn borderBottom" style="cursor: pointer;">
                <img class="card-img-top" src="{{ object.picture_thumbnail.url }}"
                     alt="Card image cap" height="130px;">
                <div class="card-body p-3">
                    <h5 class="card-title">{{ object.title|truncatechars:24 }}</h5>
                    <div class="d-block">
                        <small>
                            <i class="fas fa-user mr-1"></i>
                            {{object.created_by.email|truncatechars:25}}
                        </small>
                        <br>
                        <small>
                            <i class="fas fa-calendar-alt mr-1"></i>
                            {{object.created_on}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    $('.card').click(function() {
        if($(this).attr('data-login-required') === 'True') {
            if('{{request.user.is_authenticated}}' === 'True') {
                window.location.href = window.location.href + 'webcast/' + $(this).attr('id');
            } else {
                //window.location.href = window.location.href + 'webcast/' + $(this).attr('id');
                window.location.href = '/accounts/login?next=/webcast/'+$(this).attr('id');
            }
        } else {
            window.location.href = window.location.href + 'webcast/' + $(this).attr('id');
        }
    })

</script>
{% endblock %}