{% extends 'base.html' %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/public.css' %}">
<style>

</style>
{% endblock %}

{% block body %}

{% include 'partials/navbar.html' %}

<div class="container">
    <div class="row my-3">
        <div class="col-lg-8">
            <h2>{{ object.title }}</h2>
            <small>
                <i class="fas fa-calendar-alt"></i> {{object.created_on}}
            </small>
            <p class="mt-2">
                {% for tag in object.get_tags %}
                <span class="badge badge-secondary"><i class="fas fa-tag"></i> {{ tag }}</span>
                {% endfor %}
            </p>
            <hr>
            <div class="weblet-description">
                {{ object.description|linebreaks }}
            </div>
            {% if  object.picture_large %}
                <img src="{{ object.picture_large.url }}" alt="" width="100%" class="img-thumbnail">
            {% else %}
                <img src="/static/assets/ImageNotAvailable.png" alt="" width="100%" class="img-thumbnail">
            {% endif %}
        </div>
        <div class="col-lg-4">
            <div class="card borderTop">
                <div class="card-body">
                    <h4 class="card-title text-center">Panellists</h4>
                    <br>
                    {% if object.presenters.all %}
                    {% for presenter in object.presenters.all %}
                    <div class="media">
                        {% if presenter.picture_thumbnail %}
                        <img src="{{presenter.picture_thumbnail.url}}" class="img-thumbnail mr-3" alt="presenter-logo"
                             width="50px" height="50px">
                        {% else %}
                        <img src="/static/img/presenters/default.jpg" class="img-thumbnail mr-3" alt="presenter-logo"
                             width="50px" height="50px">
                        {% endif %}
                        <div class="media-body">
                            <h6 class="mt-0">{{ presenter.full_name }}</h6>
                            <p>{{ presenter.about|truncatechars:110 }}</p>
                            <hr>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <p class="mt-4 mb-5 text-center" style="font-size: small">No presenter detail</p>
                    {% endif %}
                    <p class="text-center mt-4">

                        <a class="btn btn-sm btn-outline-primary"
                           href="/watchers/record_watcher/{{ object.id }}?redirect_url={{ object.webinar_recording_link }}"
                           target="_blank">
                            Watch Now
                        </a>

<!--                        <a class="btn btn-sm btn-outline-primary" href="{{ object.webinar_recording_link }}"-->
<!--                           target="_blank">-->
<!--                            Watch Now-->
<!--                        </a>-->
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>


</script>
{% endblock %}