{% extends 'base.html' %}

{% block title %} - SignUp Success{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-3"></div>
        <div class="col-12 col-lg-6">
            <p style="margin-bottom: 12%"></p>
            <div class="card shadow">
                <div class="card-header bg-theme-primary rounded-0">
                    <div class="d-flex justify-content-center p-5">
                        <img src="{% static 'assets/LogoNameAndIconWhite.png' %}" alt="" height="50px">
                    </div>
                </div>
                <div class="card-body text-center p-5">
                    <i class="far fa-check-circle fa-4x mb-4 text-theme-primary"></i>
                    <h3 class="mb-4">Thank you for signing up with us.</h3>
                    <p class="mb-4">An email has been sent to the registered email. Please confirm your email to get
                        started.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3"></div>
    </div>
</div>


{% endblock %}