{% extends 'base.html' %}

{% block title %} - SignUp{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card-group mt-5 shadow">
                <div class="card bg-theme-primary">
                    <div class="d-flex justify-content-center mt-5 p-5">
                        <img src="{% static 'assets/LogoNameAndIconWhite.png' %}" alt="" height="50px">
                    </div>
                    <p class="px-5 text-center text-white">
                        Make your Webinars discoverable automatically and grow your business, Promote your content with AI and build new audience, Publish your Webinars to mass users and communities, Get Insights into your audience. aka, Control your Destiny.
                    </p>
                </div>
                <div class="card px-5 py-4">
                    <div class="card body">
                        <h3 class="card-title">
                            SIGN UP
                        </h3>
                        <form class="mt-2" action="" method="post" novalidate>
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-0">
                                    {{ form.email|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-0">
                                    {{ form.password1|as_crispy_field }}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12 mb-0">
                                    {{ form.password2|as_crispy_field }}
                                </div>
                            </div>
                            <p class="bg-light text-center py-2"
                               style="border: 1px solid; border-radius: 2rem; border-color: #ccc">
                                You are signing up as
                                <strong class="text-theme-primary">{{request.session.sign_up_option.title}}</strong>
                                <br><a href="{% url 'accounts:sign_up_option' %}"><small>Click to change</small></a>
                            </p>
                            <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
                        </form>
                        <br>
                        <p class="text-center">Already have an account? <a href="{% url 'accounts:login' %}">Login</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>


{% endblock %}